@import url('https://fonts.googleapis.com/css?family=Courgette|Lobster&display=swap');
ion-title {
    //font-family: 'Lobster', cursive;
    font-family: 'Courgette', cursive;
}

.colorRed {
    // color: red;
    font-family: Arial, Helvetica, sans-serif;
    //font-size: 18px;
    font-style: oblique;
    color: #FF4B2B;
    font-weight: bold;
}