<ion-header>
    <ion-toolbar>
        <ion-title>
            Mot de passe oublié
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-margin-top">
    <form>
        <ion-list>
            <ion-item>
                <ion-label position="floating">Nom d'utilisateur</ion-label>
                <ion-input type="email" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Numero de Téléphone</ion-label>
                <ion-input type="tel" required></ion-input>
            </ion-item>
        </ion-list>
        <ion-button class="ion-margin" size="" (click)="presentLoadingWithOptions()" expand="block">accepter</ion-button>
        <div text-center>
            <p>En vous inscrivant, vous acceptez nos <span color="primary"><u>Conditions générales</u></span>, notre Politique d’utilisation des données et notre Politique d’utilisation des cookies.</p>
        </div>
    </form>
</ion-content>